.hotel {
    margin: 10px 0px;
}

.hotel__details {
    background: #ECECEC;
    padding: 13px;
}

.hotel__name {
    font-weight: bold;
}

.hotel__price {
    font-weight: lighter;
}

.hotel__image img {
    width: 100%;
}
